<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdulrhmanil.wallhavenwallpapers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowPhotoActivity"
            android:label="@string/title_activity_show_photo"
            android:theme="@style/Theme.Swipe.Back.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.abdulrhmanil.wallhavenwallpapers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.ZoomPhotoActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar">
        </activity>


        <activity
            android:name=".activities.ScrollZoomedPhotosActivity"
            android:label="@string/title_activity_scroll_zoomed_photos"
            android:theme="@style/Theme.Swipe.Back.NoActionBar">

        </activity>
    </application>

</manifest>